<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'app_plante_detect:home' %}">
            <i class="fas fa-brain me-2"></i>GhiresClassify
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" 
                       href="{% url 'app_plante_detect:home' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'classify' %}active{% endif %}" 
                       href="{% url 'app_plante_detect:classify' %}">Classifier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'history' %}active{% endif %}" 
                       href="{% url 'app_plante_detect:history' %}">Historique</a>
                </li>
            </ul>
        </div>
    </div>
</nav>